<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>List Wi-Fi Parameters</string>
		<key>Base Command</key>
		<string>param.cgi?action=list&amp;group=wifi</string>
		<key>action</key>
		<string>list</string>
		<key>group</key>
		<string>wifi</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Update Wi-Fi Parameters</string>
		<key>Base Command</key>
		<string>server.command?command=wifi_setup</string>
		<key>AP_SSID</key>
		<string>Kenny-AF23</string>
		<key>AP_AUTH_KEY</key>
		<string>Kenny-AF23</string>
	</dict>
</array>
</plist>
